<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=webjobsstore;AccountKey=GqEl/McNlD3lS4PlfgxJhD+Az1YkAcGdQpjeCD6wz3YcAnT/L+ZQszpqZW5aWlCNaiXyXz5GFr0jmuX6reHcgA=="/>
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=webjobsstore;AccountKey=GqEl/McNlD3lS4PlfgxJhD+Az1YkAcGdQpjeCD6wz3YcAnT/L+ZQszpqZW5aWlCNaiXyXz5GFr0jmuX6reHcgA=="/>
    <add name="MobyDickEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;          provider=System.Data.SqlClient;            provider connection string=          'data source= dev-test-srv.database.windows.net,1433; initial catalog= mobydick-core_db;     persist security info=True;     user id= nepictech@dev-test-srv;     password= MobyDick.1024;    App=EntityFramework'" providerName="System.Data.EntityClient"/>
    <add name="ConnStringForWebSecurity" connectionString="data source= dev-test-srv.database.windows.net,1433; initial catalog= mobydick-core_db;     persist security info=True;     user id= nepictech@dev-test-srv;     password= MobyDick.1024" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
