@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 id="rw-title">
    <span id="rw-t-deco-up"></span><span id="rw-t-deco-down"></span>
    @ViewBag.Title
</h1>
<div id="rw-content">
    <div class="content_box">
        <h2>
            Administración de Roles <span id="icon-admconts"></span>
        </h2>
          <div id="jqgridd" align="center">
                <table id="lstContent">
                </table>
                <div id="pager">
                </div>
            </div>
    </div>
</div>