<?xml version="1.0"?>
<configuration>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_IServiceMembershipProvider"/>
   </basicHttpBinding>
  </bindings>
		<client>
   <endpoint address="http://localhost:8288/MobyDickWS/ServiceSecurityProvider.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceMembershipProvider" contract="ServiceSecurity.IServiceMembershipProvider" name="BasicHttpBinding_IServiceMembershipProvider"/>
  </client>
	</system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
